body {
    font-family: "Roboto", sans-serif;
}

.li-item1 {
    display: inline;
}


.main-section-1 {
    width: 1440px;
    height: 600px;
    background-color: #2E2F42;
}

.main-section-1-txt {
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    color: #F4F4FD;
}

.main-section-1-btn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4D5AE5;
    font-weight: 500;
}

.main-section-3 {    
    background: #F4F4FD;
}

.main-section-3-mtxt {
    text-align: center;
    color: #2E2F42;
}

.li-item3 {
    display: inline;
}

.main-section-4-mtxt {
    text-align: center;
    color: #2E2F42;
}

.footer1 {
    width: 1440px;
    height: 312px;
    background: #2E2F42;
}

.footer-logo {
    margin-left: 156px;
    margin-top: 100px;
}

.footer-txt {
    margin-left: 156px;
    margin-top: 140px;
    width: 264px;
    height: 112px;
    color: #F4F4FD;
}