body {
    font-family: "Roboto", sans-serif;    
    color:  #434455;
    background-color:  #FFFFFF;
}
/* header */

.header {
    
}

.header-nav {

}

.header-logo-1 {


}

.header-logo-2 {

}

.li-item1 {
    
}

/* main */


.main-section1 {
    background-color: #2E2F42;
}

.main-section1-txt {    
    text-align: center;
    color: #F4F4FD;
}

.main-section1-btn {    
    justify-content: flex-start;         
    background: #4D5AE5;
    font-weight: 500;
}

.main-section3 {    
    background: #F4F4FD;
}

.main-section3-mtxt {
    text-align: center;
    color: #2E2F42;
}

.li-item3 {
   
}

.main-section4-mtxt {
    text-align: center;
    color: #2E2F42;
}

.footer1 {
    width: 1440px;
    height: 312px;
    background: #2E2F42;
}

.footer-logo {
    margin-left: 156px;
    margin-top: 100px;
}

.footer-txt {
    margin-left: 156px;
    margin-top: 140px;
    width: 264px;
    height: 112px;
    color: #F4F4FD;
}